config/
log
Capfile
site/public/.htaccess
todo.md
misc/
ml-depth-pro
site/public-sharp-splat/output/*
site/public-sharp-splat/tmp/*
site/public-sharp-splat/sync.sh
site/public-sharp-splat/node_modules/